td {
    font-weight: 400;
}

.white-chart {
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
}

.apexcharts-menu-item {
    color: #262626;
    text-align: center;

}

.wrapper-infos{
    flex-direction: column;
}

.wrapper-chart1, .wrapper-chart2, .wrapper-infos1, .wrapper-infos2  {
    padding: 15px;
}

.wrapper-chart1{
    width: 100%;
}

#chart2 {
    height: 364px;
    max-width: 350px;
    margin: auto;
}



@media screen and (min-width: 1200px) {
    .wrapper-charts{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .wrapper-chart2 {
        width: 500px;
    }
}

@media screen and (min-width: 1480px) {


    .wrapper-infos{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .wrapper-infos1{
        width: 50%;
    }

    .wrapper-infos2{
        width: 50%;
    }
}

.pagination{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.page-item.active .page-link {
   background-color: #2CB4C9;
}

.page-link {
    color: #00bcd4;
    font-weight: 400;
    border-radius: 3px;
}

.page-link:focus{
    box-shadow: inherit;
}

.navigation > nav > ul > li:first-child > a{
    text-indent: -9999px;
    line-height: 0;
}

.navigation > nav > ul > li:first-child > a:after{
    content: "Précédent";
    text-indent: 0;
    display: block;
    line-height: initial;
}

.navigation > nav > ul > li.page-item.disabled > span{
    text-indent: -9999px;
    line-height: 0;
}

.navigation > nav > ul > li.page-item.disabled > span:after{
    content: "Précédent";
    text-indent: 0;
    display: block;
    line-height: initial;
}

.navigation > nav > ul > li:last-child > a{
    text-indent: -9999px;
    line-height: 0;
}

.navigation > nav > ul > li:last-child > a:after{
    content: "Précédent";
    text-indent: 0;
    display: block;
    line-height: initial;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-audit-detail{
    margin:0;
    font-size: 2rem;
}

.back-btn-text {
    color: white;
}