.bg {
    background-color: #58c0c1;
    height: 100vh;
    font-family: "Roboto", "sans-serif";
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-wrap {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.img-check, .img-warning, .img-password {
    width: 8rem;
    margin: 2rem auto;
}

.img-warning {
    width: 8rem;
    margin: 2rem auto;
}

.info {
    text-align: center;
}

.form {
    max-width: 17rem;
    margin: auto;
    text-align: center;
}

#reset_pass_password_first_help {
    color: white!important;
}

.form-error-icon {
    display: none;
}

.save {
    margin-top: 1rem;
    background-color: #b8dee3;
    color: black;
    border-color: #b8dee3;
    font-weight: 400;
}

