{% extends 'baseAdmin.html.twig' %}


{% block title %}Notifications{% endblock %}

{% block sideNavNotifications %}active{% endblock %}

{% block content %}

<div class="wrapper-soon">
    <p class="soon">Coming soon...</p>
    <div class="pagination">
        <a href="{{ app.request.headers.get('referer') }}" class="back-btn-text"><button class="btn btn-outline-secondary">Retour</button></a>
    </div>
</div>



{% endblock %}


