{% extends 'base.html.twig' %}
{% block title %}Mot de passe modifié - ECTRL{% endblock %}
{% block body %}
    <div class="container-fluid bg">
        <div class="info-wrap">
            <h1 class="info-title">Enregistrement effectué!</h1>
            <img class="img-hand" src="{{ asset('img/hand.jpeg') }}">
            <p class="info">Votre nouveau mot de passe a bien été enregistré.</p>
            <p class ="info">Rendez-vous sur l'application ECTRL de EKALIT pour vous connecter à votre compte.</p>
        </div>
    </div>
{% endblock %}