{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié - ECTRL{% endblock %}
{% block body %}
    <div class="container-fluid bg">
        <div class="info-wrap">
            <h1 class="info-title">Mot de passe oublié?</h1>
            <img class="hand" src="{{ asset('img/hand.jpeg') }}">
            <p class="info">Veuillez renseigner un nouveau mot de passe pour accèder à l'application ECTRL de EKALIT.</p>
            <div class="form">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-primary save" value="ENREGISTRER">
                {{ form_end(form) }}
            </div>

        </div>
    </div>
{% endblock %}