{% extends 'base.html.twig' %}
{% block title %}Compte activé - ECTRL{% endblock %}

{% block body %}
    <div class="container-fluid bg">
        <div class="info-wrap">
            <h1 class="info-title">Félicitation !</h1>
            <img class="img-check" src="{{ asset('img/check.png') }}">
            <p class="info">Votre inscription est maintenant finalisée.</p>
            <p class ="info">Rendez-vous sur l'application ECTRL de EKALIT pour vous connecter à votre compte.</p>
        </div>
    </div>
{% endblock %}
