{% extends 'base.html.twig' %}
{% block title %}Compte non activé - eCtrl{% endblock %}
{% block body %}
    <h1>Oups, votre compte n'est pas validé.</h1>
    <p>Il semblerait que le nombre maximum d'utilisateurs pour le code d'enregistrement que vous avez utilisé lors de votre inscription soit atteint.</p>
    <p>Veuillez contacter votre supérieur hiérarchique ou l'agence EKALIT pour plus d'informations.</p>
{% endblock %}