{% extends 'base.html.twig' %}
{% block title %}Compte non activé - ECTRL{% endblock %}
{% block body %}
    <div class="container-fluid bg">
        <div class="info-wrap">
            <h1 class="info-title">Oups!</h1>
            <img class="img-warning" src="{{ asset('img/warning.png') }}">
            <p class="info">Il semblerait que le nombre maximum d'utilisateurs pour le code d'enregistrement que vous avez utilisé lors de votre inscription soit déjà atteint.</p>
            <p class ="info">Veuillez contacter votre supérieur hiérarchique ou l'agence EKALIT pour plus d'informations.</p>
        </div>
    </div>
{% endblock %}
