<p>Bonjour {{ firstName }} {{ lastName }},</p>

<p>Afin de changer votre mot de passe pour accèder à l'application ECTRL de EKALIT, veuillez cliquer sur le lien ci-dessous:</p>

<p>
    <a href="{{ url('resetPassword', {'userId': userId})  }}">Cliquez sur ce lien pour modifier votre mot de passe.</a>
</p>
