{% extends 'base.html.twig' %}

{% block title %}ECTRL{% endblock %}
{% block body %}
    <div class="container-fluid bg">
        <div class="info-wrap">
            <h1 class="info-title">Une erreur est survenue!</h1>
            <img class="img-warning" src="{{ asset('img/warning.png') }}">
            <p class ="info">Veuillez réessayer dans quelques instants.</p>
        </div>
    </div>
{% endblock %}
